// Forces background colors and images to print on webkit browsers
* {
    -webkit-print-color-adjust: exact;
}

@page {
    margin: 0.25in;
}

@media print {
    // Global top-level changes
    html, 
    body {
        margin: 0;
        padding: 0;
    }
    body {
        width: 8.5in;
        > .fixed {
            position: static;
        }
        > .container {
            margin-top: 0;
        }
    }

    // Hide these
    .hide-for-medium-up,
    .button,
    .breadcrumbs,
    #filters,
    .hide-for-print {
        display: none !important;
    }

    // Global Overrides 
    .slick-hero .photo-credit,
    .slanted-image .photo-credit {
        bottom: rem-calc(40);
        right: rem-calc(10);
        .credit-icon {
            display: none;
        }
        .credit {
          display: block;
          bottom: 0;
          padding: rem-calc(10 15);
          line-height: 1.4em;
          font-size: rem-calc(12);
        }
    }

    .footer-wrapper {
      margin-top: 0px !important;
      position: relative !important;
    }

    .bg-smoke {
      background-color: transparent;
    }

    .vertical-padding {
      padding: 0;
    }


    [class*="block-grid-"] > li {
        padding: rem-calc(0 20 10);
    }

    .has-slider {
        page-break-inside: avoid;
        margin: rem-calc(20 0 0) !important;
    }

    .news-entry {
        img {
            max-width: 50%;
            height: auto !important;
        }
    }





    // A printed page has a native "resolution" of 612px wide (72 pixels per inch * 8.5 inches)
    // Elements render as if it were a small screen, so foundation "large" defaults are inserted below. 
    .large-1 {
    width: 8.33333%; }

    .large-2 {
    width: 16.66667%; }

    .large-3 {
    width: 25%; }

    .large-4 {
    width: 33.33333%; }

    .large-5 {
    width: 41.66667%; }

    .large-6 {
    width: 50%; }

    .large-7 {
    width: 58.33333%; }

    .large-8 {
    width: 66.66667%; }

    .large-9 {
    width: 75%; }

    .large-10 {
    width: 83.33333%; }

    .large-11 {
    width: 91.66667%; }

    .large-12 {
    width: 100%; }

    .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

    .column.large-centered,
    .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

    .column.large-uncentered,
    .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

    .column.large-centered:last-child,
    .columns.large-centered:last-child {
    float: none; }

    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
    float: left; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
    float: right; }





}