{%- import '_macros/atoms' as atom -%}

<div class="container max-w-screen-xl mx-auto">

    <div class="py-4 px-8">

        <div class="text-black-100 uppercase text-sm font-light tracking-wider mb-1">
            {{- 'Published'| t }} {{ atom.formatDate(content.postDate) -}}
        </div>

        <div class="text-black-100 uppercase text-sm font-light tracking-wider">
            {{- 'Last updated' | t }} {{ atom.formatDate(content.dateUpdated) -}}
        </div>

    </div>

</div>