{# Homepage template #}
{% extends '_layouts/site' %}
{% set headerImageUrl = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one.url : '' %}

{% set paginationCriteria = craft.entries.section('newsEntries').limit(9) %}
{% block content %}
    <div class="bg-smoke">
        {# Hero Slider #}
        {% include '_components/header-image' with {'entry': entry} %}

        <ul class="breadcrumbs">

            <li>{{ 'News & Events'|e }}</li>

            {# Entry title #}
            {% if entry.title is defined %}
                <li class="current">{{ entry.title }}</li>
            {% endif %}
        </ul>

        <section class="page-section">
            <div class="row">
                <div class="small-8 small-centered columns text-center">
                    {{ entry.body }}
                </div>
                <div class="columns">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 block-grid-news" data-equalizer>
                        {% paginate  paginationCriteria as newsEntries %}
                        {% for newsEntry in newsEntries %}
                            <li>{% include '_components/info-card-news' with {'entry': newsEntry} %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% include '_components/pagination' with {'paginationCriteria':paginationCriteria} %}
        </section>
    </div>
{% endblock %}