{% extends '_layouts/site' %}

{% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : '' %}

{% block content %}

    {% include '_components/header-image' with {'entry': entry} %}

    {% include '_components/breadcrumb' with {'emptyCrumbs':true} %}

    <section class="page-section">
        <div class="row">
            <div class="medium-8 medium-centered large-6 large-uncentered large-push-6 column contact-form hide-for-print text-center">
                {% if entry.formSelect %}
                    {{ entry.formSelect.render }}
                {% endif %}
            </div>
            <div class="medium-8 medium-centered large-6 large-uncentered large-pull-6 column text-center contact-content">
                <h4 class="contact-header">{{ "Contacts"|t }}</h4>
                {{ entry.body }}
            </div>
        </div>
    </section>
{% endblock %}