{% extends '_layouts/site' %}

{% set headerImage = (entry.headerImage.one() is defined and entry.headerImage.first is not empty) ? entry.headerImage.first : '' %}

{% block content %}
    {% include '_components/header-image' with {'entry': entry} %}
    {% include '_components/breadcrumb' with {'emptyCrumbs':true} %}

    <section class="page-section">
        <div class="row">
            <div class="medium-6 medium-centered column text-center">
                {% include '_components/salesforce-signup' with {
                    'redirect': url('pages/thank-you-for-subscribing')
                } %}
            </div>
        </div>
    </section>
{% endblock %}