{% import '_macros/atoms' as atom %}

<section class="w-full">
    <div>
        {%- switch content.type -%}

            {%- case 'newsPage' -%}

            {%- default -%}

        {%- endswitch -%}
    </div>
</section>
