.epic-save {
    position: relative;
}

.epic-save__img-container {
    width: 100%;
    position: relative;
    .photo-credit {
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
        &:hover {
            .credit {
                visibility: visible;
                opacity: 1;
            }
        }
        .credit {
            visibility: hidden;
            opacity: 0;
            display: block;
            color: #ebeae4;
            background-color: rgba(55, 51, 50, 0.75);
            font-size: 12px;
            padding: 15px;
            margin-top: 10px;
            transition: opacity .2s;
        }
    }
}

.epic-save__img {
    width: 100%;
}

.epic-save__content {
    padding: 30px 60px 30px 60px;
    a {
        color: $secondary-color;
    }
}

.epic-save__title {
    color: white;
    font-size: 40px;
}

.epic-save__solution-list {
    list-style: none;
    margin: 0;
    li {
        font-size: 16px;
    }

    a {
        color: white;
        font-weight: bold;
    }
}

.epic-save__solution-label {
    font-weight: bold;
}

.epic-save__solutions-icons {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.epic-save__solutions-icon {
    width: 48px;
    height: 48px;
    margin: 0 5px;
}

.epic-save__copy {
    font-size: 16px;
    p { font-size: 16px; }
    margin-top: 20px;
}