.news-events.page-section {
    padding: rem-calc(65 0 120);
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(-45);
    position: relative;
    .subtitle {
        color: #fff;  
        text-transform: uppercase;  
        text-align: center;
        margin-bottom: rem-calc(40);
    }
    .info-card {
        margin-bottom: rem-calc(80);
    }
    .photo-credit {
        position: absolute;
        bottom: rem-calc(62);
        right: rem-calc(20);
        .credit {
            position: absolute;
            bottom: rem-calc(40);
            right: 0;
            font-size: rem-calc(14);
            color: #ebeae4;
            display: none;
            background-color: rgba(55, 51, 50, 0.75);
            padding: rem-calc(20 25);
            white-space: nowrap;
            z-index: 99;
        }
        .credit-icon {
            cursor: pointer;
        }
        &:hover {
            .credit {
                display: block;
            }
        }
    }
    @media #{$large-up} {
        margin-top: rem-calc(20);
        .events {
            padding-left: rem-calc(160);
            padding-right: rem-calc(80);
        }
        .news {
            padding-left: rem-calc(80);
            padding-right: rem-calc(160);
        }
    }
    @media print {
        padding: rem-calc(30 0 90);
        .hide-for-large-up {
            display: none;
        }
        .subtitle {
            font-size: rem-calc(28);
            margin: rem-calc(0 0 10);
        }
        .info-card {
            height: auto !important;
            width: 100% !important;
        }
    }
}
