.impact-map {
  //background-color: #ecf9ff;
}

.impact-map__page-section {
  margin-top: rem-calc(60);
  margin-bottom: rem-calc(20);
  background-size: cover;
  background: center;
  background-clip: padding-box;
  &:first-of-type {
    margin-top: rem-calc(20);
  }
  &:last-of-type {
    padding-bottom: rem-calc(120);
    margin-bottom: 0;
  }
  @media #{$medium-up} {
    &:first-of-type {
      margin-top: rem-calc(85);
    }
  }
  @media #{$large-up} {
    &:first-of-type {
      margin-top: rem-calc(110);
    }

    padding-bottom: rem-calc(85);
  }
  @media print {
    margin-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    &:first-of-type {
      margin-top: rem-calc(30);
    }
    &:last-of-type {
      padding-bottom: rem-calc(10);
    }
  }
}

.impact-map__map {
  background: #ecf9ff center;
  position: relative;
  margin-top: -16px;
  width: 100%;
  overflow: hidden;
  .leaflet-left {
    @media #{$medium-up} {
      left: 230px;
    }
  }
}

.impact-map__map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 97;
  pointer-events: none;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity .2s;
}

.impact-map__map-overlay--visible {
  opacity: 1;
}

.impact-map__epic-save {
  position: absolute;
  right: -50%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  color: #d7d7d7;
  z-index: 97;
  overflow-y: scroll;
  width: 100%;
  opacity: 0;

  @media #{$large-up} {
    width: 50%;
  }

  @media #{$xlarge-up} {
    top: 23px;
  }
}

.impact-map__epic-save-container {
  position: relative;
  width: 100%;
}
.epic-save__close {
    position: absolute;
    top: -19px;
    right: 5px;
    color: white;
    font-family: 'helvetica';
    font-size: 60px;
    transform: rotate(45deg);
    z-index: 98;
}

.impact-map__heading {
  margin: 35px auto 35px auto;
  @media #{$medium-up} {
    margin: 0 auto 35px auto;
  }
}

.impact-map__heading-area {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}

.impact-map__area {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 96;
}

.impact-map__description {
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #4b4033;
  max-width: 90%;
  margin: 0 auto;
  @media #{$medium-up} {
    max-width: 40%;
  }
}

.impact-map__solutions-filter-area {
  width: 100%;
  background-color: $primary-color;
  padding-bottom: rem-calc(20);
  @media #{$medium-up} {
    position: absolute;
    width: 190px;
    height:  rem-calc(300);
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
    border: solid 1px #55730b;
    background-color: #ffffff;
    padding-bottom: 0;
  }
  @media #{$large-up} {
    position: absolute;
    width: 190px;
    height: 480px;
    top: 50%;
    transform: translateY(-40%);
  }
}

.impact-map__solutions-filter {
  border: none;
  a {
    color: white;
  }
  @media #{$medium-up} {
    a {
      color: $primary-color;
    }
  }
}

.impact-map__solutions-filter-header {
  font-family: Raleway;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: rem-calc(15) rem-calc(30);
  text-align: left;
  margin: 0 auto;
  @media #{$medium-up} {
    color: #252222;
  }
  hr {
    margin: rem-calc(15) 0 0 0;
  }
}

//.impact-map__solutions-filter-divider {
//  width: 80%;
//  height: 2px;
//  border: solid 1px #d7d7d7;
//  margin: 0 auto;
//}

.impact-map__solutions-filter-list {
  list-style: none;
  padding: rem-calc(10) rem-calc(30) 0 rem-calc(30);
}

.impact-map__solutions-filter-list-item {
  width: 180px !important;
  padding: 2px 0;
  vertical-align: middle;
  padding-bottom: rem-calc(8) !important;
}

.impact-map__solutions-filter-icon {
  width: rem-calc(30);
}

.impact-map__solutions-filter-list-title {
  padding-left: 0;
  padding-right: 20px;
  position: relative;
  min-height: rem-calc(30);
  display: flex;
  align-items: center;
  @media #{$medium-up} {
    padding-right: 0;
  }
}

.impact-map__solutions-filter-text {
  display: block;
  font-family: Raleway;
  font-size: 13.5px;
  color: #252222;
  line-height: 18px !important;
}

.impact-map__solutions-grid {
  padding-top: rem-calc(40);
}

.impact-map__our-approach {
  padding-left: rem-calc(50);
  padding-right: rem-calc(50);
  @media #{$medium-up} {
    color: #252222;
  }
}

.impact-map__our-approach-heading {
  padding-top: rem-calc(60);
}

.impact-map__solutions-grid-heading {
  font-family: Raleway;
  font-size: 25px;
  font-weight: 500;
  color: #4b4033;
}

.impact-map__solutions-grid-description {
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.4;
  color: #4b4033;
}

.impact-map__solutions-grid-icon {
  float: left;
}

.impact-map__date-filter-container {
  display: none;
  margin: 0 auto;
  width: 25%;
  min-width: 200px;
  position: relative;
  &:after {
    content: "\25be";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: gray;
    right: 5px;
    top: 0;
  }
}

.impact-map__date-filter {
  display: block;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $primary-color;
  transition: background-color .2s;
  min-width: 200px;
  &:hover {
    background-color: white;
  }
}

.impact-map__sliders {
  .slanted-image {
    &:before {
      display: none !important;
    }
  }
}

.locations-map {
  font-family: sans-serif;
  position: relative;
  @media #{$large-up} {
    height: rem-calc(680);
  }
}

.locations-map__right-column {
  background-color: lighten(lightgray, 5%);
  @media #{$large-up} {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
  }
}

.locations-map__heading-box {
  background: darken(lightgray, 10%);
  padding: rem-calc(20)/2;
}

.locations-map__heading {
  font-family: Raleway;
  font-size: 16.9px;
  font-weight: 600;
  color: white;
  margin: 0;
  background-color: #252222;
}

.locations-map__location-text {
  background-color: #252222;
  font-family: Raleway;
  font-size: 10.4px;
  font-weight: 600;
  line-height: 1.3;
  color: #e1e1e1;
}

.locations-map__label {
  display: inline-block;
  font-weight: normal;
}

.locations-map__submit {
  margin: rem-calc(20) 0 0 0;
  @media #{$large-up} {
    display: inline-block;
    margin: 0;
  }
}

.locations-map__map {
  height:  rem-calc(300);
  margin: rem-calc(20) 0 0 0;
  @media #{$large-up} {
    height:  rem-calc(500);
    width: 100%;
    margin: 0 auto;
  }
}


.locations-map__legend-title {
  font-weight: bold;
  margin: rem-calc(20) 0;
}

.locations-map__legend-list {
  list-style: none;
  margin: rem-calc(20)/2 0 0 0;
}

.locations-map__legend-item {
  position: relative;
  padding-left: rem-calc(25);
  margin: 0 rem-calc(20) rem-calc(20)/2 0;
  text-align: left;
  &:before {
    content: "";
    width: rem-calc(20);
    height: rem-calc(20);
    left: 0;
    display: block;
    position: absolute;
  }
  @media #{$large-up} {
    display: inline-block;
  }
}

.locations-map__list {
  list-style: none;
  margin: 0;
}

.locations-map__thumbnail-image {
  width: rem-calc(200);
}

////////////////// MODIFIERS ///////////////////////

.locations-map__heading--2 {
  font-size: rem-calc(16);
}

.locations-map__heading--3 {
  font-size: rem-calc(15);
}

.locations-map__heading--4 {
  font-size: rem-calc(14);
  margin-bottom: rem-calc(15);
  @media #{$large-up} {
    margin: 0;
  }
}

.locations-map__heading--5 {
  font-size: rem-calc(12);
}

.locations-map__heading--info-box {
  font-size: rem-calc(15);
  margin-top: rem-calc(10);
}

.-padding-top {
  padding-top: rem-calc(60);
}

.impact-map__content-block{
  .impact-map__content-block--column {
    h2 {
      text-align: center;
      padding-bottom: rem-calc(20);
      padding-top: rem-calc(20);
    }
    .content-block__button {
      text-align: center;
    }
  }
}
#ak-map-canvas, #hi-map-canvas {
  display: none;
}

////////////////////////////////////////////////////
