.join-give {
    &:after {
        display: none;
    }
    * {
        color: #FFF;
    }
    p {
        font-weight: 400;
    }
    a {
        &:hover,
        &:active, 
        &:focus {
            color: #FFF;
        }
    }
    .bg {
        padding: rem-calc(100 0);
        @include black-gradient(
            $fromColor: "rgba(0,0,0,0)", 
            $toColor: "rgba(0,0,0,0.4)", 
            $height: "100%"
        );
    }
    @media #{$large-up} {
        .bg {
            padding: rem-calc(200 0);
        }
    }
    @media #{$xlarge-up} {
        .bg {
            padding-top: rem-calc(327 0 355);
        }
    }
}

.join-give-member-benefits {
  
  .title {
    text-transform: none;
    margin: 20px 0;
    font-size: 2em;
    @media #{$large-up} {
      margin: 50px 0;
    }
  }
  
  .member-benefit-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    &.take-action {
      justify-content: center;
    }
    
    @media #{$large-up} {
      flex-direction: row;
    }
    
    .member-benefit {
      display: flex;
      flex-direction: column;
      margin: 20px;
      border: 1px solid #DBDBDB;
      flex-basis: 25%;
      
      @media #{$large-up} {
        margin: 0;
        &:not(:last-child) {
          margin: 0 40px 0 0;
        }
      }
      
      .image-container {
        max-height: 200px;
        
        @media #{$medium-up} {
          max-height: 160px;
        }
        
        @media #{$large-up} {
          max-height: 200px;
        }
        
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      h1, h2, h3, h4, h5, h6 {
        font-size: rem-calc(32);
        font-weight: 400;
        margin-top: rem-calc(32);
        margin-bottom: rem-calc(16);
        text-align: center;
        padding: 15px;
      }
      
      p {
        text-align: center;
        padding: 15px;
        
        @media #{$large-up} {
          flex-grow: 1;
        }
      }
      
      .benefit-text {
        text-align: center;
        padding: 15px;

        @media #{$large-up} {
          min-height: 130px;
        }
        .button {
          display: block;
          background-color: #f04e37;
          &:hover {
            background-color: darken(#f04e37, 15%);
          }
        }
      }
    }
  }
}

.join-give-your-gift {
  overflow: hidden;
  @media #{$large-up} {
    padding-bottom: 30px;
  }
  
  .title {
    text-transform: none;
    margin: 20px 0;
    @media #{$large-up} {
      margin: 60px 0 0 0;
    }
  }
  
  .join-give-icons {
    margin: 20px 0;
    @media #{$large-up} {
      margin: 40px 0;
    }
    .icon-column {
      width: 100%;
      padding: 0 25px;
      max-width: 1375px;
      margin: 0 auto;
      
      @media #{$large-up} {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 0 auto 30px auto;
        @media #{$large-up} {
          max-width: 20%;
          margin: 0 auto;
          padding-right: 15px;
        }
        
        img {
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}

.more-ways-to-give {
  padding-bottom: 0 !important;
  @media #{$large-up} {
    padding-bottom: 4.8rem !important;
  }
}

.impact-slider-margin-bottom {
  margin-bottom: 80px;
  @media #{$large-up} {
    margin-bottom: 120px;
  }
}

.join-give-content-block {
  margin-bottom: 120px;
  
  @media #{$medium-up} {
    margin-bottom: 160px;
  }
}
