.bg {
    body.desert & {
        background-position: 15% 50%;
    }
    body.forest & {
        background-position: 15% 50%;
    }
    body.alpine & {
        background-position: 65% 50%;
    }
    body.meet-the-access-fund & {
        background-position: 35% 50%;
    }
    body.our-passion & {
        background-position: 58% 50%;
    }
    body.our-approach & {
        background-position: 100% 50%;
    }
    body.our-network & {
        background-position: 70% 50%;
    }
    body.our-history & {
        background-position: 70% 50%;
    }
    body.take-action & {
        background-position: 80% 50%;
    }
    body.apply-for-a-grant & {
        background-position: 30% 50%;
    }
    body.news-and-events & {
        background-position: 35% 50%;
    }
    body.search & {
        background-position: 80% 50%;
    }
}