{% if button is defined and button is not empty %}
    <div class="content-block__button">
        <a href="{{ button.buttonUrl }}" class="{{ button.buttonColor }}">{{ button.buttonText }}</a>
    </div>
{% endif %}