{% if calloutText is defined and calloutText is not empty %}
    {% set calloutClass = block.greyCalloutBox == true ? 'callout-box' : 'callout-text' %}
    <p class="{{ calloutClass }}">{{ calloutText }}</p>
{% endif %}