{% if twoColumns is defined and twoColumns is not empty %}
    <div class="row">

        {% if (block.leftColumn is not empty) and (block.rightColumn is not empty) %}
            <div class="medium-6 columns">
                {{ block.leftColumn }}
            </div>
            <div class="medium-6 columns">
                {{ block.rightColumn }}
            </div>
        {% endif %}

        {% if (block.leftColumn is not empty) and (block.rightColumn is empty) %}
            <div class="columns">
                {{ block.leftColumn }}
            </div>
        {% endif %}

        {% if (block.leftColumn is empty) and (block.rightColumn is not empty) %}
            <div class="columns">
                {{ block.rightColumn }}
            </div>
        {% endif %}

    </div>
{% endif %}