{% include '_components/header-image' with {'entry':entry, 'title':entry.title} %}
{% include '_components/breadcrumb' %}

<section class="page-section">
    <div class="row text-center">
        <div class="column medium-9 medium-centered">
            {{ entry.body }}
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 text-center">
                {% for entry in entry.children.all() %}
                    <li class="feature-wrapper">
                        {% include '_components/circle-feature' with {'entry': entry} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>