{% include '_components/header-image' with {'entry': entry, 'title': entry.title} %}
{% include '_components/breadcrumb' with {'emptyCrumbs':true} %}

<section class="page-section">
    <div class="row">
        <div class="medium-9 medium-centered columns">
            {{ entry.body }}
            {% if entry.contentBlock is defined and entry.contentBlock is not empty %}
                {% include '_matrix/contentBlock/index' 
                    with {'matrix': entry.contentBlock, 
                            'openingStructure': '<div class="row"><div class="column medium-9 medium-centered">',
                            'closingStructure': '</div></div>',
                            'altText': entry.heading is defined and entry.heading is not empty ? entry.heading : entry.title
                    }
                %}
            {% endif %}
        </div>
    </div>
</section>
