.callout-text {
    display: block;
    overflow: hidden;
    font-size: rem-calc(28);
    line-height: rem-calc(36);
    font-weight: 300;
    padding: rem-calc(17 0 13);
    border-top: solid rem-calc(2) $dark-orange;
    border-bottom: solid rem-calc(2) $dark-orange;
    margin-bottom: rem-calc(36);
    p {
        line-height: rem-calc(36);
        font-weight: 300;
        font-size: rem-calc(28);
    }
    p:last-of-type {
        margin-bottom: rem-calc(4);
    }
}

.callout-button {
    font-size: rem-calc(14);
    line-height: rem-calc(18);
    font-weight: 600;
    background-color: $dark-orange;
    &:hover {
        background-color: $orange;
    }
}

.callout-box {
    display: block;
    overflow: hidden;
    background-color: $smoke;
    margin: rem-calc(0 0 40);
    padding: rem-calc(30 40);

    p:last-of-type {
        margin-bottom: rem-calc(4);
    }
}
