#calendar-wrapper {
    .fc-header-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media #{$large-up} {
            flex-direction: row;
        }
    }
    .fc-toolbar { // Title and Controls
        .fc-left,
        .fc-right,
        .fc-center {
            float: none;
        }
        .fc-center {

            @media #{$large-up} {
                text-align: center;
                width: 50%;

                h2 {
                    margin: 0 auto;
                    float: none;
                }
            }
        }
        .fc-left,
        .fc-right {

            @media #{$large-up} {
                width: 25%;
            }
        }
        .fc-left {
            display: flex;
        }
        .fc-center {
            .fc-prev-button,
            .fc-next-button {
                background: transparent;
                border: none;
                font-size: rem-calc(42);
                padding: rem-calc(6 0 0);
                height: auto;
                line-height: 1em;
                margin: 0;
                color: $charcoal;
                font-weight: 200;
            }
            h2 {
                margin: rem-calc(0 20);
                text-transform: initial;
                font-weight: 300;
                color: $charcoal;
                font-size: $h3-font-size;
            }
            .line-break-words {
                //word-spacing: rem-calc(200);
                //width: rem-calc(200);
                //font-size: $h4-font-size;
                //&::first-line {
                //    font-size: $h3-font-size;
                //}
            }
        }
        .fc-right {
            order: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fc-button {
                border: 0;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                border-radius: 0;
                margin-top: rem-calc(10);

                @media #{$large-up} {

                }

                &.fc-corner-right {
                    //height: rem-calc(28);
                    //width: rem-calc(36);
                    //padding: 0;
                    //background-size: contain;
                    //background-position: center;
                    //background-repeat: no-repeat;
                    //-webkit-filter: grayscale(0);
                    //filter: grayscale(0);
                    //&.fc-state-active {
                    //    -webkit-filter: grayscale(1);
                    //    filter: grayscale(1);
                    //}
                    //&.fc-agendaDay-button {
                    //    background-image: url('/images/day.png');
                    //}
                    //&.fc-agendaWeek-button {
                    //    background-image: url('/images/week.png');
                    //}
                    //&.fc-month-button {
                    //    background-image: url('/images/month.png');
                    //}
                }
            }
        }
        .fc-agendaWeek-button {
            display: none;

            @media #{$medium-up} {
                display: block;
            }
        }
    }
    .fc-view-container { // Calendar
        .fc-today {
            background-color: initial;
        }
        .fc-time-grid-event {
            opacity: 1.0;
        }
        table {
            border: 0;
            thead { // Calendar Header Row
                background: $primary-color;
                .fc-widget-header {
                    border: 0;
                    table {
                        margin: 0;
                        .fc-day-header {
                            border: none;
                            color: #FFF;
                            text-transform: uppercase;
                            font-weight: 400;
                            padding: rem-calc(10 0);
                            text-align: center;
                        }
                        /*
                        &:after { // Space between Header and Day Rows
                            display: block;
                            content: "";
                            height: rem-calc(35);
                            width: 100%;
                            background: #FFF;
                        }*/
                    }
                }
            }
            tbody {
                .fc-event {
                    background: $primary-color;
                    font-weight:300;
                    padding: rem-calc(3);
                    border-radius: 0;
                    border: solid 1px $iron;
                    margin: 0 0 rem-calc(3) 0;
                    .fc-title {
                        white-space: normal;
                    }
                }
                .fc-week {
                    .fc-day {
                        border: solid 1px $iron;
                        &.fc-state-highlight { // Today highlight
                            background: transparent;
                            border: solid 4px #f07d57;
                            display: block;
                            height: 100%;
                        }
                    }
                    .fc-content-skeleton { // Header rows
                        table {
                            background: transparent !important;
                            td {
                                border: 0;
                            }
                            thead {
                                background: transparent;
                                tr {
                                    td {
                                        border: 0;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    background: transparent;
                                }
                            }
                            .fc-day-number { // Day Number
                                text-align: left;
                                font-size: $h4-font-size;
                                font-weight: 200;
                                padding: rem-calc(13);
                            }
                        }
                    }
                }
            }
        }
    }
}
