$circle-size: 18vw;

.circles-page-title {
    // font-size: rem-calc(50);
    margin-bottom: rem-calc(50);
    // font-weight: 600;
}

.circle-feature-title {
    font-size: rem-calc(26);
    line-height: 1.2em;
    font-weight: 900;
    color: $jet;
    text-transform: uppercase;
    margin-bottom: rem-calc(19);
}

.circle-feature {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px; // Fallback for mobile
    height: 180px; 
    width:  $circle-size*3.5;
    height: $circle-size*3.5;
    text-align: center;
    display: block;
    margin: 0 auto rem-calc(32);
    @include transition(all, 0.2s);
    @include radius(50%);
    @include box-shadow(0 0 8px 1px rgba(0,0,0,0));
    @include transform(translateZ(0));  // This will accelerate your animation
    will-change: box-shadow, transform;
    &:after { // Black BG
        display: block; 
        content: "";
        background: rgba(0,0,0,0);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        @include transition(all, 0.2s);
        @include radius(50%);
        @include transform(translateZ(0));  // This will accelerate your animation
        will-change: background;
    }
    &:hover {
        &:after {
            background: rgba(0,0,0,0.5);
            -webkit-filter: blur(5px);
            filter: blur(5px);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'100%\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'5\' /></filter></svg>#blur");
        }
        .title {
            opacity: 1;
            font-weight: 300;
            top: 42%;
            color: $smoke;
            @include transform(translate(-50%, -50%));
            &:after {
                width: 100%;
                transition-delay: 0.2s;
            }
        }
    }
    .title {
        pointer-events: none;
        position: absolute;
        font-weight: 900;
        font-size: 1.625rem;
        line-height: 1.2em;
        margin-top: rem-calc(20);
        left: 50%;
        top: 100%;
        @include transition(all, 0.2s);
        @include transform(translate(-50%, 0%) translateZ(0));
        will-change: color, transform;
        &:after {
            display: block;
            content: "";
            margin: 0 auto;
            width: 0%;
            height: rem-calc(2);
            background-color: $smoke;
            @include transition(all, 0.1s);
            @include transform(translateZ(0));  // This will accelerate your animation
            will-change: width;
        }
    }
    @media #{$medium-up} {
        width:  $circle-size*2;
        height: $circle-size*2;
    }
    @media #{$large-up} {
        width:  $circle-size;
        height: $circle-size;
        max-width: rem-calc(320);
        max-height: rem-calc(320);
    }
}

.circle-feature-text {
    font-size: rem-calc(20);
    line-height: 1.6em;
}

.columns.feature-wrapper {
    margin-bottom: rem-calc(25);
    @media #{$medium-only} {
        &:last-of-type:not(even) {
            float: none;
            clear: both;
            margin: 0 auto;
        }
    }
}


@media print {
    .circles-page-title {
        font-size: rem-calc(28);
        margin-bottom: rem-calc(30);
        font-weight: 500;
    }
    .circle-feature {
        width:  140px !important;
        max-width:  140px !important;
        height: 140px !important;
        max-height: 140px !important;
        margin: 0 auto 15px;
        box-shadow: none !important;
        transform: none !important;
        will-change: none !important;
    }
    .circle-feature-title {
        font-size: rem-calc(14);
        padding: 0 20px;
    }
    .circle-feature-text {
        font-size: rem-calc(14);
        line-height: 1.4em;
    }
}

















































