.content-slider {
    color: #FFF;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(43);

    .slide-content {
        h3 {
            color: #FFF;
            font-weight: 400;
        }
    }
    .slick-dots {
        li button {
            border: none;
        }
        .slick-active button {
            background-color: #698d1b;
        }
        @media #{$large-up} {
            li:last-of-type {
                margin-right: rem-calc(0);
            }
        }
    }
}

.w-screen {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
