.enews-signup-bar {
    background-color: $smoke;
    padding: rem-calc(33 15 11);
    margin-bottom: rem-calc(60);
}

.enews-signup-head {
    margin-top: rem-calc(60);
    .enews-title {   // All HTML tags need to be classed. We do this to avoid our styles from bleeding through the cascade
        //text-transform: uppercase;
        margin: rem-calc(0 0 2 0);
        line-height: 1em;
    }
    .enews-summary {   // All HTML tags need to be classed. We do this to avoid our styles from bleeding through the cascade
        font-size: rem-calc(20);
        line-height: rem-calc(40);
        margin-bottom: rem-calc(34);
    }
}

.enews-signup {
    .enews-input {  // All HTML tags need to be classed. We do this to avoid our styles from bleeding through the cascade
        padding: rem-calc(16);
        margin-bottom: rem-calc(30);
        font-size: rem-calc(16);
        width: 100%;
        height: rem-calc(48);
        line-height: 3;
    }

    .submit {
        margin-top: 2rem;
        width: 100%;
    }
}

.row {
    &.align-center {
        display: flex;
        justify-content: center;
    }
}