.form-buttons {
    list-style: none;
    margin: 0;
}

.form-button-item {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(10);
    &:last-of-type {
        margin-right: 0;
    }
}

.form-button-link {
    width: 100%;
    max-width: rem-calc(320);
    &, &.submit {
        background-color: $orange;
        &:hover, 
        &.active,
        &:focus {
            background-color: $dark-orange;
        }
    }
}

@media #{$medium-up} {
    .form-button-item {
        display: inline-block;
        width: auto;
        max-width: auto;
        margin-right: rem-calc(6);
        margin-bottom: 0;
    }
}