.columns .blog-entry-card {
  background: rgba(255,255,255,0.9);
  padding: rem-calc(0);
  position: relative;
  .image {
    width: 100%;
    padding-bottom: rem-calc(10);
  }
  .post-info {
    padding: rem-calc(0 15);
  }
  .date {
    font-size: rem-calc(16);
    color: $light-font-color;
    font-weight: 700;
  }
  .title {
    font-size: rem-calc(26);
    font-weight: 500;
    line-height: rem-calc(35);
    color: $primary-color;
    text-transform: initial;
  }
  .summary {
    font-size: rem-calc(16);
    line-height: rem-calc(40);
    margin-bottom: 0;
    padding-bottom: rem-calc(16);
  }
  .blog-entry-card__date {
    font-size: 17px;
    font-weight: bold;
    padding-top: rem-calc(16);
  }

  .blog-entry-card__title {
    padding-top: rem-calc(16);
    margin-bottom: rem-calc(16);
  }
}
