.columns .news-card {
    padding: rem-calc(55 40);
    background: rgba(255,255,255,0.9);
    .entries-list {
        list-style: none;
        margin: 0;
    }
    .entries-item {
        margin-bottom: rem-calc(30);
        &:after {
            display: block;
            content: "";
            width: rem-calc(80);
            height: rem-calc(1);
            background-color: rgba(#000, 0.5);
            margin: rem-calc(28) auto 0;
        }
        &:last-of-type {
            margin-bottom: rem-calc(20);
            &:after {
                display: none;
            }
        }
    }

    .date {
        font-size: rem-calc(16);
        color: $light-font-color;
        font-weight: 700;
    }
    .title {
        font-size: rem-calc(26);
        font-weight: 500;
        line-height: rem-calc(35);
        color: $primary-color;
        text-transform: initial;
        margin-bottom: rem-calc(20);
    }
    .excerpt {
        font-size: rem-calc(20);
        line-height: rem-calc(40);
        margin-bottom: 0;
    }
    .read-more {
        font-weight: 600;
    }
    @media print {
        .date {
            font-size: rem-calc(12);
        }
        .title {
            font-size: rem-calc(16);
            line-height: 1.3em;
            margin-bottom: rem-calc(8);
        }
        .excerpt {
            line-height: 1.5em;
            padding: 0;
            margin-bottom: 0 !important;
        }
    }
}
