.columns .search-card {
    padding: rem-calc(52 38);
    background: rgba(255,255,255,0.9);
    .title {
        font-size: rem-calc(26);
        font-weight: 500;
        line-height: rem-calc(35);
        color: $primary-color;
        text-transform: initial;
        margin-bottom: rem-calc(20);
    }
    .excerpt {
        font-size: rem-calc(20);
        line-height: rem-calc(40);
        margin-bottom: 0;
    }
    @media print {
        // @extend .news-card;
    }
}
