.img-right {
    @media #{$large-up} {
        float: right;
        margin-left: rem-calc(94);
    }
}

.img-left {
    @media #{$large-up} {
        float: left;
        margin-right: rem-calc(94);
    }
}

.img-center {
    @media #{$large-up} {
        display: block;
        margin: 0 auto rem-calc(40);
        text-align: center;
    }
}

.img-full {
    @media #{$large-up} {
        display: block;
        margin: 0 auto rem-calc(40);
    }
}