.page-section {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    &:first-of-type {
        margin-top: rem-calc(20);
    }
    &:last-of-type {
        padding-bottom: rem-calc(120);
        margin-bottom: 0;
    }
    @media #{$medium-up} {
        &:first-of-type {
            margin-top: rem-calc(50);
        }
    }
    @media #{$large-up} {
        margin-top: rem-calc(85);
        margin-bottom: rem-calc(85);
    }
    @media print {
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(30);
        &:first-of-type {
            margin-top: rem-calc(30);
        }
        &:last-of-type {
            padding-bottom: rem-calc(10);
        }
    }

    & .medium-centered > .row > .medium-6 h3 + p::after {
        content: "";
        clear: both;
        display: table;
    }
}

.-headerless {
    @media #{$medium-up} {
        margin-top: rem-calc(160) !important;
    }
}

.-smoke {
    background-color: $smoke;
 }
