.sidebar {
    width: 100%;
    margin: 0 auto rem-calc(20);
    background-color: #f2f2f2;
    padding: rem-calc(27 37);
    .title {
        font-size: rem-calc(20);
        font-weight: 600;
        text-transform: uppercase;
        color: #4b4034;
        margin: rem-calc(0 0 24 0);
    }
    .list {
        margin: 0;
    }
    .item {
        line-height: 1.3em;
        margin-bottom: rem-calc(25);
        list-style: none;
        font-size: rem-calc(16);
        font-weight: 700;
        color: $monsoon;
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    .dot {
        padding-left: rem-calc(47);
        position: relative;
        font-weight: 600;
        margin-bottom: rem-calc(34);
        &:before {
            display: block;
            content: "";
            height: rem-calc(32);
            width: rem-calc(32);
            background-color: #61912b;
            background-image: url('/images/checkmark.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            position: absolute;
            left: 0;
            top: rem-calc(1);
            @include radius(50%);
        }
    }
    .link {
        font-size: rem-calc(16);
        font-weight: 600;
        text-decoration: underline;
    }
    .active {
        color: #afafaf;
        text-decoration: none;
    }
    
    @media #{$medium-up}, print {
        max-width: rem-calc(320);
        &.left {
            margin: rem-calc(0 48 20 0);
        }
        &.right {
            margin: rem-calc(0 0 20 48);
        }
    }

    @media print {
        .dot {
            font-size: rem-calc(14) !important;
            padding-left: rem-calc(30);
            &:before {
                height: rem-calc(20);
                width: rem-calc(20);
                background-size: auto 60%;
            }
        }
        .title {
            margin-bottom: rem-calc(16);
        }
    }
}
