.slick-slide {
    position: relative;
    overflow: hidden;
}
.slider-title {
    margin-bottom: rem-calc(30);
}
.slanted-section .slide-content {
    padding: rem-calc(82) $column-gutter/2;
    background-size: cover;
    background-position: center;
    line-height: 2em;
    font-size: rem-calc(18);
    background-color: $jumbo;
    h3 {
        color: $primary-color;
        line-height: 1.25;
    }
    p {
        font-size: rem-calc(20);
        line-height: 2em;
        color: #4b4034;
        font-weight: normal;
    }
    > .button {
        margin-top: rem-calc(26);
    }
    @media #{$medium-up} {
        padding-left: 40%;
    }
    @media #{$large-up} {
        padding-left: 53%;
        min-height: rem-calc(340);
        &.has-image {
            min-height: initial;
        }
    }
    @media #{$xlarge-up} {
        padding-left: 53%;
        padding-right: 15% !important;
        min-height: rem-calc(455);
    }
}

.slick-dots {
    text-align: center;
    width: 100%;
    margin: 0;
    position: relative;
    top: rem-calc(-46);

    li {
        display: inline;
        padding: rem-calc(0 9);
        list-style: none;

        &:only-child {
            display: none;
        }

        button {
            text-indent: -9999px;
            margin: 0;
            width:  rem-calc(17);
            height: rem-calc(17);
            padding: 0;
            background-color: #FFF;
            border: solid 1px $lt-gray;
            @include radius(50%);
        }
    }
    .slick-active {
        button {
            background-color: $primary-color;
        }
    }

    @media #{$medium-only} {
        text-align: right;
        @include transform(none);
        display: inline-block;
        float: right;
        li:last-of-type {
            margin-right: rem-calc(30);
        }
    }
    @media #{$large-up} {
        @include transform(none);
        li:last-of-type {
            margin-right: rem-calc(400);
        }
    }
}

@media print {
    .slider-title {
        margin-bottom: rem-calc(0);
    }
    .slick-track {
        width: 100% !important;
        text-align: center;
        @include transform(none);
    }
    .slick-slider:not(.slick-hero) {
        .slick-slide {
            width: 48% !important;
            display: inline-block;
            vertical-align: top;
            float: none;
            margin: 0 1% rem-calc(40) !important;
            border: solid 1px $base;
            position: static;
        }
    }
    .slick-dots,
    .slick-cloned {
        display: none !important;
    }
    .textTop {
        margin-bottom: rem-calc(20);
        padding-top: rem-calc(10);
        .column {
            width: 100%;
        }
        .subtitle {
            font-size: rem-calc(24);
        }
        p,
        .learn-more {
            font-size: rem-calc(14);
        }
        p {
            margin: 0;
        }
    }
}
