.thumbnail-grid {
    padding-top: rem-calc(20);
    margin-bottom: rem-calc(35);
    .image {
        background-size: cover;
        background-position: center;
        background-clip: content-box;
        display: inline-block;
        position: relative;
        padding: rem-calc(0 15 15 15);
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    .content {
        .title {
            text-transform: uppercase;
            color: $primary-color;
            font-size: rem-calc(31);
            line-height: rem-calc(38);
            margin-top: rem-calc(-8);
        }
        .body-text {
            font-size: rem-calc(16);
            line-height: 2rem;
            margin: 0;
        }
    }
    @media #{$medium-up} {
        .title,
        .body-text {
            padding-left: rem-calc(15);
        }
        .image {
            padding: rem-calc(0 0 15 15);
        }
    }
    @media #{$large-up} {
        .content {
            .body-text {
                font-size: rem-calc(20);
                line-height: rem-calc(40);
            }
        }
    }
    @media print {
        .thumbnail-grid {
            display: inline-block;
        }
        .image {
            padding-bottom: 0 !important;
            display: inline-block;
        }
        .content {
            .title {
                line-height: 1em;
                margin-top: rem-calc(0);
            }
            .body-text {
                line-height: 1.7em;
                margin-bottom: 0 !important;
            }
        }
        li {
            margin-bottom: 0 !important;
            display: inline-block;
        }
    }
}

.approach-list {
    @include block-grid($spacing: rem-calc(20));
    @media #{$large-up} {
        @include block-grid($per-row: 1, $spacing: rem-calc(20));
        .item {
            margin-bottom: rem-calc(40);
        }
    }
    @media #{$xlarge-up} {
        @include block-grid($per-row: 1, $spacing: rem-calc(100));
    }
}
.block-grid-thumbnail-grid {
    @media #{$large-up} {
        > li {
            padding: rem-calc(0 72 70);
        }
    }
}
