.video-modal-link {
    &:after {
        display: block;
        content: "";
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('/images/playbutton.png');
        background-size: auto 100px;
        background-repeat: no-repeat;
        background-position: center;
    }
    @media #{$medium-up} {
        &:after {
            @include transform(skew(12deg, 0deg));
        }
    }
}


.video-modal {
    min-height: 0;
    padding-bottom: rem-calc(12);
    .close-reveal-modal {
        top: rem-calc(-6);
        right: rem-calc(6);
    }
}