{% set breadcrumbModifier = '-breadcrumbs-no-header' %}
{% set sectionModifier = '-headerless' %}
{% set title = entry.title %}
{% if craft.app.request.segments|length < 3 %}
    {% include '_components/header-image' with {'entry':entry, 'title':entry.title} %}
    {% set breadcrumbModifier = '' %}
    {% set sectionModifier = '' %}
    {% set title = '' %}
{% endif %}
{% include '_components/breadcrumb' with {'cssModifier': breadcrumbModifier} %}
<section class="page-section {{ sectionModifier }}">
    <div class="row">
        <div class="column medium-9 medium-centered">
            <h2 class="title">{{ title }}</h2>
            {{ entry.body }}
            {% if entry.contentBlock is defined and entry.contentBlock is not empty %}
                {% include '_matrix/contentBlock/index'
                    with {'matrix': entry.contentBlock,
                            'openingStructure': '<div class="row"><div class="column medium-9 medium-centered">',
                            'closingStructure': '</div></div>',
                            'altText': entry.heading is defined and entry.heading is not empty ? entry.heading : entry.title
                    }
                %}
            {% endif %}
        </div>
    </div>
    {% include '_components/thumbnail-grid' with {'entries': entry.children} %}
</section>