<div class="row hide-for-print">
    <div class="small-12 small-centered large-6 columns text-center">
        <div class="enews-signup-head">
            <h1 class="enews-title">E-News Signup</h1>
            <p class="enews-summary">Sign up for Access Fund e-news and action alerts to stay on top of the latest news in the climbing access community.</p>
        </div>
    </div>
</div>
<div class="enews-signup-bar hide-for-print">
    <form id="enewsForm" class="form enews-signup" action="http://cl.s7.exct.net/subscribe.aspx" method="post">
        <input type="hidden" name="MID" value="7213352">
        <input type="hidden" name="LID" value="2444">
        <input type="hidden" name="Email Type" value="HTML">
        <input type="hidden" name="SubAction" value="sub_add_update">
        <input type="hidden" name="thx" value="{{ url('e-news-signup?result=success') }}" />
        <input type="hidden" name="err" value="{{ url('e-news-signup?result=error') }}" />

        <div class="row">
            <div class="columns small-12 medium-6 large-5">
                <input class="enews-input" type="text" placeholder="Your First Name" id="first_name_field" name="First Name">
            </div>
            <div class="columns small-12 medium-6 large-5">
                <input class="enews-input" type="text" placeholder="Your Last Name" id="last_name_field" name="Last Name">
            </div>
            <div class="columns small-12 medium-4 large-2">
                <input class="enews-input" type="number" placeholder="Enter Zip Code"  id="zip_code_field" name="Zip Code">
            </div>
            <div class="columns small-12 medium-8 large-12">
                <input class="enews-input" type="email" placeholder="Your Email Address" id="email_field" name="Email Address">
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-12 medium-6">
                <button class="submit">
                    Subscribe to our e-news
                </button>
            </div>
        </div>
    </form>
</div>
