<ul class="form-buttons">
    {# Form Links #}
    <li class="form-button-item">
        <a class="form-button-link button" href="/join">Join</a>
    </li>
    <li class="form-button-item">
        <a class="form-button-link button" href="/renew">Renew</a>
    </li>
    <li class="form-button-item">
        <a class="form-button-link button" href="/donate">Donate</a>
    </li>
    <li class="form-button-item">
        <a class="form-button-link button" href="/give">Give Monthly</a>
    </li>
</ul>
