<div class="info-card form-card" data-equalizer-watch>
    <p class="text-content">Sign up for Access Fund e-news and action alerts to stay on top of the latest news in the climbing access community.</p>
    <form id="enewsForm" class="form enews-signup" action="http://cl.s7.exct.net/subscribe.aspx" method="post">
        <input type="hidden" name="MID" value="7213352">
        <input type="hidden" name="LID" value="2444">
        <input type="hidden" name="Email Type" value="HTML">
        <input type="hidden" name="SubAction" value="sub_add_update">
        <input type="hidden" name="thx" value="{{ url('e-news-signup?result=success') }}" />
        <input type="hidden" name="err" value="{{ url('e-news-signup?result=error') }}" />

        {# <input class="text-input" type="text" placeholder="First Name" name="first_name">
        <input class="text-input" type="text" placeholder="Last Name" name="last_name">
        <input class="text-input" type="email" placeholder="Email" name="email"> #}

        <input class="text-input firstname" type="text" placeholder="First Name" id="first_name_field" name="First Name">
        <input class="text-input lastname" type="text" placeholder="Last Name" id="last_name_field" name="Last Name">
        <input class="text-input email" type="email" placeholder="Email" id="email_field" name="Email Address">

        <input class="text-input" type="number" placeholder="Zip Code"  id="zip_code_field" name="Zip Code">
        <input class="submit" type="submit" value="submit">
    </form>
</div>
