{##
 # @param "entry"
 # @param "cssModifier"(optional)
 # @param "showDate"(optional)
 ##}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}

{# Default showDate to true #}
{% if showDate is not defined %}
    {% set showDate = true %}
{% endif %}

{# Default showTitleTop to false #}
{% if showTitleTop is not defined %}
    {% set showTitleTop = false %}
{% endif %}


<div class="info-card search-card{{ cssModifier|raw }}" data-equalizer-watch>
    <div class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></div>
    <p class="excerpt">{{ entry.body|hacksaw(words='24', append='...') }}</p>
</div>