<h3>Search</h3>
<form class="form" action="{{ url('search') }}" method="GET">
    <div class="standard-search">
        <input type="text" name="q" id="keyword" placeholder="Search Term">
        <input class="submit form-button-link" type="submit" value="submit">
    </div>
</form>