{# Expects "entries" and "active"<the entry we are displaying> #}

{% if cssModifier is not defined %}
    {% set cssModifier = '' %}
{% elseif cssModifier|slice(0, 1) != ' ' %}
    {% set cssModifier = ' ' ~ cssModifier %}
{% endif %}


<div class="sidebar right{{ cssModifier|raw }}">
    <ul class="list">
        {% for entry in entries %}
            {% set activeClass = '' %}
            {% if entry.title == active %}
                {% set activeClass = ' active' %}
            {% endif %}
            <li class="item">
                <a href="{{ entry.url }}" class="link{{ activeClass }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>