# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.vi
*~
*.sass-cache
*.sql
*.sqlite

# OS or Editor folders
.DS_Store
/.idea
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*config.codekit
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.code-workspace

# Craft Environment
.env.php
.env.sh
.env

# Craft folders and files to ignore
/vendor
/storage/*
/migrations/*
web/assets/*
web/cpresources/*
web/imager/*
templates/calendar-demo
web/uploads/*

# Build files to ignore
web/dist
web/mix-manifest.json

# Don't ignore the Icon and Logo
!/storage/rebrand/icon/**
!/storage/rebrand/logo/**

# Development folders to ignore
node_modules
/development
web/hot

# track these files, if they exist
!.gitignore
!.editorconfig
