.main-navbar {
    width: 100%;
    float: left;
    background-color: $dk-gray;

    .main-nav {
        float: left;
        position: relative;
        padding: rem-calc(25 40);
        .main-nav-link {
            padding: rem-calc(16 18);
            font-weight: 700;
            font-size: rem-calc(19);
            padding-right: rem-calc(24) !important;
            &:hover,
            &.active {
                background: none;
                opacity: .4;
            }

            @media #{$medium-up} {
                pointer-events: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: rem-calc(58);
            right: rem-calc(58);
            border-bottom: 1px solid $lt-gray;
        }
        .main-nav-item {
            .dropdown {
                .dropdown-item {
                    .dropdown-link {
                        font-size: rem-calc(14);
                        padding: rem-calc(15 20);
                        font-weight: 700;
                        line-height: 20px;
                        &:hover,
                        &.active {
                            color: $text-gray;
                        }
                    }
                }
            }

            &.moved {
                .dropdown {
                    height: 100vh!important;
                    background-color: $dk-gray;
                }
            }
        }
    }
    @media #{$medium-only} {
        width: rem-calc(455);
        float: right;
    }
    @media #{$large-up} {
        padding-left: rem-calc(15);
        padding-bottom: 0;
        .main-nav {
            padding: 0;
            &:after {
                border: none;
            }
            .main-nav-link {
                padding: rem-calc(10 24);
                font-size: rem-calc(13);
            }
            .main-nav-item .dropdown {
                .dropdown-item {
                    background-color: rgba(55,51,50,.9);
                }
            }
        }
    }
    @media #{$xlarge-up} {
        height: rem-calc(69);
        .main-nav {
            .main-nav-link {
                font-size: rem-calc(18);
                padding: rem-calc(25.5 24) !important;
            }
            .dropdown {
                .dropdown-item {
                    .dropdown-link {
                        font-size: rem-calc(18);
                        padding: rem-calc(20);
                        line-height: 20px;
                    }
                }
            }
        }
    }

    /******************/
    /* Call to Action */
    /******************/

    .call-to-action {
        padding: 0 rem-calc(60);

        .action-item {
            position: relative;
            float: left;
            padding: 0;

            .action-link {
                width: 100%;
                padding: rem-calc(16 30 16 6);
                font-weight: 700;
                text-align: center;
                @include transition(font-size width height, 0.3s);
            }
        }
         .action-item.join {
                width: 57%;
            }
            .action-item.give {
                width: 43%;
            }
        .join .action-link {
            background-color: $light-orange;
            &:before {
                background-color: $light-orange;
            }


        }
        .give .action-link {
            padding-right: rem-calc(16);
            background-color: $dark-orange;
            &:before {
                background-color: $dark-orange;
            }
        }
        .link-text {
            position: relative;
        }
        .or {
            position: absolute;
            line-height: 1em;
            font-size: rem-calc(13);
            font-weight: 700;
            top: 50%;
            left: 54%;
            z-index: 9;
            pointer-events: none;
            background: transparent;
            @include transform(translate(-50%, -50%));
        }
        @media #{$medium-only} {
            padding: rem-calc(0 60);
            &:hover {
                .join .action-link {
                    &,
                    &:before {
                        background-color: lighten($light-orange, 10%);
                    }
                }
                .give .action-link {
                    &,
                    &:before {
                        background-color: lighten($dark-orange, 10%);
                    }
                }
            }
            .action-link {
                text-align: left;
            }
            .join {
                .action-link {
                    font-size: rem-calc(24) !important;

                    padding-left: rem-calc(15);
                }
            }
            .give {
                .action-link {
                    font-size: rem-calc(24) !important;
                    width: rem-calc(107);
                    padding-left: rem-calc(15);
                }
            }
        }
        @media #{$large-up} {
            padding: 0;
            .action-item.join {
                width: 57%;
            }
            .action-item.give {
                width: 43%;
            }
            .action-item .action-link:before {
                display: block;
                content: "";
                position: absolute;
                width: rem-calc(115);
                height: 100%;
                left: 0;
                top: 0;
                @include transform-origin(top left);
                @include transform(skew(-30deg, 0deg));
                @include transition(background-color, 0.3s);
            }
            .or {
                left: 47%;
            }
        }
        @media #{$xlarge-up} {
            .action-item.join {
                width: 51.5%;
                .action-link {
                    width: 100%;
                    padding: rem-calc(26 85 20 16) !important;
                }
            }
            .action-item.give {
                width: 48.5%;
                .action-link {
                    width: 100%;
                    padding: rem-calc(26 28 24 8) !important;
                    &:before {
                        width: rem-calc(180);
                    }
                }
            }
            .action-item {
                .action-link {
                    font-size: rem-calc(21);
                    &:before {
                        width: rem-calc(120);
                    }

                }
            }
            .or {
                left: 43%;
            }
        }
    }
}
/******************/
/* Call to Action */
/******************/

.call-to-action {
    padding: rem-calc(0 60);
    float: right;
    position: relative;
    z-index: 9;
    .action-item {
        position: relative;
        float: left;
        width: 50%;
        padding: 0;
        .action-link {
            width: 100%;
            font-size: rem-calc(22);
            padding: rem-calc(16 30 16 6);
            font-weight: 700;
            text-align: center;
            @include transition(font-size width height, 0.3s);
            &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    @include transform-origin(top left);
                    @include transform(skew(-30deg, 0deg));
                    @include transition(background-color, 0.3s);
                }
        }
    }
    .join .action-link {
        background-color: $light-orange;
        &:before {
            background-color: $light-orange;
            display: none;
        }
    }
    .give .action-link {
        padding-right: rem-calc(16);
        background-color: $dark-orange;
        width: 95%;
        &:before {
            background-color: $dark-orange;
        }
    }
    .link-text {
        position: relative;
    }
    .or {
        position: absolute;
        line-height: 1em;
        font-size: rem-calc(18);
        font-weight: 700;
        top: 48%;
        left: 50%;
        padding-right: rem-calc(27);
        color: #fff;
        z-index: 9;
        pointer-events: none;
        background: transparent;
        @include transform(translate(-50%, -50%));
    }
    @media #{$medium-only} {
        .or {
            padding-right: rem-calc(24);
            font-size: rem-calc(15);
        }
        .action-item {
            .action-link {

            }
        }
    }
    @media #{$medium-up} {
        padding: 0;
        &:hover {
            .join .action-link {
                &,
                &:before {
                    background-color: lighten($light-orange, 10%);
                }
            }
            .give .action-link {
                &,
                &:before {
                    background-color: lighten($dark-orange, 10%);
                }
            }
        }
        .join .action-link {
            &:before {
                display: block;
            }
        }
        .action-item {
            .action-link {
                height: $medium-navbar-height;
                display: block;
                color: #fff;
                font-size: rem-calc(24);
                text-transform: uppercase;
                padding-top: $medium-navbar-height/3;
                padding-right: rem-calc(55);

            }

        }
        .or {
            left: 41%;
            padding: 0;
        }
    }
    @media #{$large-up} {
        .action-item.join {
            width: 57%;
            .action-link {
                width: rem-calc(75);
                padding-left: rem-calc(15);
            }
        }
        .action-item.give {
            width: 43%;
            .action-link {
                width: rem-calc(107);
                padding-left: rem-calc(15);
                text-align: left;
            }
        }
        .action-item .action-link {
            height: rem-calc(56);
            font-size: rem-calc(16);
        }
        .or {
            left: 47%;

        }
    }
    @media #{$xlarge-up} {
        .action-item.join {
            width: 51.5%;
            .action-link {

            }
        }
        .action-item.give {
            width: 48.5%;
            .action-link {

            }
        }
        .action-item {
            .action-link {
                font-size: rem-calc(21);
                height: rem-calc(69);
            }
        }
        .give {
            .action-link {
                padding-right: rem-calc(38);
            }
        }
        .or {
            left: 43%;
        }
    }
    @media print {
        display: none !important;
    }
}

a.parent-link.js-generated {
    pointer-events: none;
}