.title-area {
    background-color: $oil;
    display: block;
    position: relative;
    z-index: 1;
    height: $medium-navbar-height;
    &:before {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        position: absolute;
        display: block;
        content: "";
        height: $medium-navbar-height;
        width: rem-calc(75);
        left: rem-calc(28);
        right: auto;
        opacity: 0.4;
        bottom: 0;
        @include transform-origin(bottom right);
        @include transform(skew(-30deg, 0deg));
    }
    .name {
        z-index: 1;
        position: relative;
        display: inline-block;
        float: left;
        .title {
            padding: rem-calc(0);
            line-height: 1em;
            float: left;
        }
        .home-link {
            padding: 0;
            text-indent: rem-calc(-9999);
            width: rem-calc(100);
            height: $medium-navbar-height;
            background-image: url('/images/logo.png');
            background-color: $primary-color;
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: 75% 50%;
        }
    }
    @media #{$large-up} {
        &:before {
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 0;
            @include transform-origin(bottom right);
            @include skew(-30deg, 0deg);
            @include before-block();
            height: rem-calc(94);
        }
        .name {
            display: block;
            .home-link {
                width: rem-calc(132);
                height: rem-calc(94);
            }
        }
    }
    @media #{$xlarge-up} {
        &:before {
            right: rem-calc(0);
            height: rem-calc(117);
        }
        .name {
            .home-link {
                width: rem-calc(165);
                height: rem-calc(117);
            }
        }
        height: rem-calc(117);
    }
}
.medium-cta {
    float: right;
    position: relative;
    z-index: 0;
}

@media print {
    .title-area {
        background-image: none !important;
        &:before {
            @include transform-origin(top left);
            @include transform(skew(30deg, 0deg));
        }
        .name {
            margin-bottom: 0 !important;
        }
    }
}
