.top-bar-section {
    position: absolute;
    width: 100%;
    color: #FFF;
    line-height: 1em;

    .dropdown li.parent-link a {
          font-weight: bold;
          font-size: rem-calc(19);
    }
    .call-to-action,
    .main-nav,
    .social,
    .header-links {
        li {
            background: transparent;

            @media #{$large-only} {
                line-height: 36px;
            }

            @media #{$xlarge-up} {
              line-height: 18px;
            }

            > a {
                text-transform: uppercase;
                @include transition(font-size, 0.2s);
            }
            img {
                @include transition(all, 0.2s);
            }
        }

        /* List Items */
        li:not(.has-form) {
            a:not(.button) {
                line-height: 1em;
                padding-top: rem-calc(15);
                padding-bottom: rem-calc(15);
            }
        }
    }
    .dropdown{

        li {
            white-space: nowrap;
            width: 100%;
            display: block;
            &.dropdown-item {
                padding-left: rem-calc(40);
            }
        }
        .back {
            margin-top: rem-calc(50);
        }
    }
    .has-dropdown {
        // &.not-click {
            a {
               white-space: nowrap;
            }
            > .dropdown {

                z-index: -1;
                margin-top: rem-calc(-90);
                background: #252222;;
                @include transition(opacity, 0.3s);

            }

        // }
        .main-nav-link {
            padding-right: rem-calc(24) !important;
            &:after {
                display: none;
            }
        }
    }
    .head-links {
        padding: rem-calc(19 40);
    }
    .social {
        padding: rem-calc(20 40 40);
    }
    @media #{$large-up} {
        padding-left: rem-calc(132);


        .call-to-action,
        .main-nav,
        .social,
        .header-links {
            /* List Items */
            li:not(.has-form) {
                a:not(.button) {
                    line-height: 1em;
                    padding-top: rem-calc(22);
                    padding-bottom: rem-calc(22);
                }
            }
        }

        .head-links {
            margin-right: rem-calc(30);
            padding: 0;
        }
        .social {
            padding-left: 0;
        }
        .social {
            padding: 0;
        }
        .has-dropdown {
            > .dropdown {
                opacity: 0;
                background: transparent;
                margin-top: 0;
                .dropdown-item {
                    max-height: 0px;
                    overflow: hidden;
                    padding-left: 0;
                    @include transition(max-height, 0.3s);
                }
            }
            &:hover {
                & > .dropdown {
                    opacity:1;
                    .dropdown-item {
                        max-height: rem-calc(300);
                    }
                }
            }
        }
    }
    @media #{$large-only} {
        .head-links {
            margin-right: rem-calc(20);
        }
    }
    @media #{$xlarge-up} {
        padding-left: rem-calc(165);
    }
}