{% extends '_layouts/site' %}

{% set single = craft.entries.section('joinOrGive').one %}
{% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : single.headerImage.one %}

{% block content %}
    {% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : single.headerImage.one %}
    {% include '_components/header-image' with {'entry':entry, 'title':single.title, 'headerImage':headerImage} %}

    {% include '_components/breadcrumb' with {'entry':entry} %}

    <section class="page-section">
        <div class="row">
            <div class="medium-9 medium-centered columns">
                <h2 class="title">{{ entry.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="medium-9 medium-centered columns">
                {{ entry.body }}
                {% if entry.contentBlock is defined and entry.contentBlock is not empty %}
                    {% include '_matrix/contentBlock/index'
                        with {'matrix': entry.contentBlock,
                                'openingStructure': '<div class="row"><div class="column medium-9 medium-centered">',
                                'closingStructure': '</div></div>',
                                'altText': entry.heading is defined and entry.heading is not empty ? entry.heading : entry.title
                        }
                    %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}