{% extends '_layouts/site' %}

{% set single = craft.entries.section('takeAction').one %}
{% set topLevelChildren = craft.entries.section('takeActionEntries').level(1).all() %}

{% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : single.headerImage.one %}

{% block content %}
    {% cache %}
        {% include '_components/header-image' with {'entry': single} %}
        {% include '_components/breadcrumb' %}

        <section class="join-give-member-benefits">
            <div class="row">
                <div class="columns">
                    <div class="column large-8 large-centered text-center">
                        <h2 class="title">
                            {{- entry.summary -}}
                        </h2>
                    </div>
                </div>
            </div>

            {% include '_components/builder--cta' with { entry: entry } %}

        </section>


        {# Current Campaigns Slider #}
        <section class="page-section">
            <div class="row">
                <div class="column large-8 large-centered text-center">
                    {% if entry.currentCampaignsHeadline is not empty %}
                        <h2 class="title">{{ entry.currentCampaignsHeadline }}</h2>
                    {% endif %}
                </div>
            </div>

            {% include '_components/slider' with { slides: entry.campaigns } %}
        </section>

        {% for child in topLevelChildren %}
            <section class="page-section">
                <div class="row">
                    <div class="column">
                        <h2 class="title text-center">{{ child.title }}</h2>
                    </div>
                </div>
                
                {% include '_components/slider' with { slide: child } %}
            </section>
        {% endfor %}
    {% endcache %}
{% endblock %}