{% extends '_layouts/site' %}

{% set entry = craft.entries.section('takeActionEntries').slug(craft.app.request.getSegment(2)).one %}
{% set headerImageUrl = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one.url : '' %}

{% block content %}
    {% include '_components/header-image' with {'entry': entry} %}

    {% include '_components/breadcrumb' %}

    <section class="page-section">
        <div class="row">
            <div class="column medium-9 medium-centered">
                <h2 class="title">{{ entry.successHeading }}</h2>
                {{ entry.successBody }}
            </div>
        </div>
    </section>
{% endblock %}