{% import '_macros/atoms' as render %}

{%- minify -%}

    <div>
        <h2>{{- render.atom('text', 'title', { content: content.header }) -}}</h2>
        <h3>{{- render.atom('text', 'title', { content: content.description, words: 5 }) -}}</h3>
    </div>

{%- endminify -%}