{% extends '_layouts/site' %}

{% set single = craft.entries.section('educateYourself').one %}
{% set topLevelChildren = craft.entries.section('educateYourselfEntries').level(1) %}
{% set headerImage = (entry.headerImage.one is defined and entry.headerImage.one is not empty) ? entry.headerImage.one : single.headerImage.one %}

{% block content %}
    {% cache %}
        {% include '_components/header-image' with {'entry': single} %}
        {% include '_components/breadcrumb' %}

        {% for child in topLevelChildren %}
            <section class="page-section">
                <div class="row slider-title">
                    <div class="column">
                        <h2 class="title text-center">{{ child.title }}</h2>
                    </div>
                </div>
                {% include '_components/slider' with {slide: child} %}
            </section>
        {% endfor %}
    {% endcache %}
{% endblock %}